<div class="box is-fluid">
  {{! Post title }}
  <div class="boxEl has-background-grey-darker">
    <h1 class="title">Title</h1>
  </div>
  <div
    class="postText box has-background-grey-lighter has-text-black-ter is-size-4"
  >
    {{! Post info }}
    <p class="is-size-7">Added By:</p>
    <p class="is-size-7">On:</p>
  </div>
  {{! Main post }}
  <div
    class="postText box has-background-grey-lighter has-text-black-ter is-size-6"
  >
    Some user text
  </div>
</div>